.appButton {
  width: max-content;
  & :global .ant-btn {
    padding: 12px;
    &:hover {
      border-color: transparent !important;
      outline: unset !important;
      box-shadow: unset !important;
    }
  }
}
